/* my personal changes to discord (make it more compact and style it to match my window manager) */
* {
  font-family: monospace !important;
  border-radius: 0 !important;
  box-shadow: 0 !important;
  mask: none !important;
  /* -webkit-mask: !important; */
}

circle {
  display: none !important
}
rect:not(.pointerEvents-2KjWnj) {
  display: none !important;
}

/* sidebar (channel sidebar) */
.sidebar-1tnWFu {
  width: 200px;
}

.container-2giAcK {
  margin: 0px;
}

.sidebar-1tnWFu *{
  border: 0;
}

.container-YkUktl {
  height: auto;
  padding: 0;
  margin: 0;
}

.withTagAsButton-OsgQ9L {
  margin: 0;
  padding: 0 0;
  min-width: 104px;
}

.withTagAsButton-OsgQ9L .nameTag-sc-gpq, .withTagless-10ooWt .nameTag-sc-gpq {
  padding: 0;
  margin: 0 4px;
}

.itemInner-3k3Sn6 {
  margin: 0;
}

.subtext-2HDqJ7 {
  display: none;
}

/* sidebar (DM) */
.channel-1Shao0 {
  margin: 0
}

.container-32HW5s {
  padding: 0
}

/* main window (DM) */
.peopleListItem-u6dGxF, .peopleListItem-u6dGxF:hover, .peopleListItem-u6dGxF.active-2UF8Zh {
  margin: 0;
  padding: 0 10px;
}

.tabBar-ra-EuL .item-3mHhwr {
  margin: 4px;
}

/* .subtext-2HDqJ7 { */
/*   display: none; */
/* } */

.content-1gYQeQ {
  margin: 0;
}

.wrapper-NhbLHG {
  padding: 0;
}
/*scrollbar todo */
.sidebar-1tnWFu ::-webkit-scrollbar {
  display: none;
}

/* sidebar (members list) */
.memberInner--L4X2b {
  padding: 0;
}

.member-48YF_l, .members-3WRCEx {
  margin: 0;
  padding: 0;
}

.container-1oeRFJ {
  padding: 0;
}

.membersGroup-2eiWxl {
  padding: 15px 4px;
  height: 20px;
}

.layout-1qmrhw {
  height: auto;
}

/* sidebar (server list) */
.guilds-2JjMmN, .listItem-3SmSlK {
  width: 60px;
}

.item-2LIpTv {
 /* width: 10px; */
 margin: 0px;
}
.wrapper-z5ab_q {
  height: 47px;
}

.expandedFolderBackground-1kSAf6 {
  width: 48px;
  left: 6px;
}

/* context menu */
.scroller-nxCRu_:not(.none-1rXy4P) {
  overflow: hidden hidden !important;
  padding: 0;
}

/* .scroller-nxCRu_ { */
/*   overflow: hidden hidden !important; */
/*   padding: 0; */
/* } */

.separator-12G2Op {
  margin: 0;
  /* display: none; */
}

.submenuPaddingContainer-QgnL1r {
  /* remove padding between submenu */
  padding: 0;
}

.item-5ApiZt {
  margin: 0
}

/* remove some seperators */
.menu-2-eHMB div[role=separator] {
  display: none;
}

/* user profile */
.userPopoutOverlayBackground-3A0Pcz {
 margin: 4px 0; 
}

/* forum card */
.container-2qVG6q.mainCard-3KBsBI {
  border: 1px var(--foreground) solid; 
}

/* hide nitro from input area */
.buttons-uaqb-5 > .button-ejjZWC[aria-label="Send a gift"] {
  display: none
}

/* main chat window (messages main window) */
/* just adjusting the scrollbar width */
.scroller-kQBbkU::-webkit-scrollbar {
  width: 12px;
}
